#kulay {
    background-color: white;
    width: 400px;
}

div {    
    background-color: #c7daecf5;
    margin-top: 8px;
    margin: 8px;
    padding: 8px;
}

.titulo {
    font-size: 16px;
}

.no {
    padding-left: 8px;
}

.button {
    text-align: center;
}

#orig {
    padding: 8px 24px 8px 24px;
    box-sizing: content-box;
}

